<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.ListMapper">
    <resultMap id="BaseResultMap" type="org.example.model.ShoppingProduct">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="count" jdbcType="INTEGER" property="count" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_date" jdbcType="DATE" property="createDate" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="packing_unit" jdbcType="VARCHAR" property="packingUnit" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    </resultMap>
    <sql id="Base_Column_List">
    id, name, code, price, count, status, create_date, detail, packing_unit, brand_name,
    category_name
  </sql>
    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shopping_product
        where id>#{start}
        order by id asc
        limit #{length};
    </select>
</mapper>