<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_btn fl" th:if="${session.user} == null">
					<a href="login.html" th:href="@{/gotologin}">登录</a>
					<span>|</span>
					<a href="register.html" th:href="@{/gotoregister}">注册</a>
				</div>
				<div class="login_info fl" th:if="${session.user} != null">
					欢迎您：<em th:text="${session.user.username}"></em>
					<span>|</span>
					<a href="login.html" th:href="@{/member/logout}">注销</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html" th:href="@{/usercenter}">用户中心</a>
					<span>|</span>
					<a href="cart.html" th:href="@{/cart/}">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html" th:href="@{/orders/myorder}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" th:href="@{/index}" class="logo fl"><img th:src="@{/images/logo.png}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="@" th:href="@{/cart/}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count" th:if="${session.productList} != null" th:text="${session.productList.size()}">0</div>
			<div class="goods_count fl" id="show_count" th:if="${session.productList} == null" >0</div>
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info.html" th:href="@{/orders/gotomyinfo}">· 个人信息</a></li>
				<li><a href="user_center_order.html" th:href="@{/orders/myorder}">· 全部订单</a></li>
				<li><a href="user_center_site.html" th:href="@{/usercenter}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2" th:if="${addresses} != null">收货地址</h3>
				<div class="site_con" th:each="address:${addresses}">
					<div th:if="${address.id} == ${session.defaultAddress.id}" style="border: #da260e 3px solid" >
						<dl>
							<dt>当前地址：</dt>
							<dt th:if="${address.id} != ${session.defaultAddress.id}">其他地址：</dt>
							<dd th:text="${address.address}+' '+
								${address.receiver}+' '+${address.mobile}">北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd>
						</dl>
					</div>
					<div th:if="${address.id} != ${session.defaultAddress.id}">
						<dl th:if="${address.id} != ${session.defaultAddress.id}">
							<a th:href="@{/orders/DefaultAddress/{id}(id=${address.id})}">
								<dt>其他地址：</dt>
								<dd th:text="${address.getAddress()}+' '+
								${address.getReceiver()}+' '+${address.getMobile()}">北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd>
							</a>
						</dl>
					</div>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form th:action="@{/createaddress}" method="post">
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="receiver">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="address"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="postCode">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="mobile">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#" th:href="@{/gotoMyInfo}">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<script type="text/javascript">
		$(document).ready(function (){
			var oShownum = document.getElementById('show_count');

			$.ajax({
				url: "/utils/getCount",
				type: "GET",
				success: function (data){
					oShownum.innerText = data;
				}
			})
		})


	</script>
</body>
</html>